absl-py==2.0.0
ale-py==0.7.5
astunparse==1.6.3
AutoROM==0.4.2
AutoROM.accept-rom-license==0.6.1
cached-property==1.5.2
cachetools==5.3.1
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.3.0
chex==0.1.7
click==8.1.7
cloudpickle==2.2.1
contourpy==1.1.1
cycler==0.12.1
decorator==5.1.1
dm-tree==0.1.8
etils==1.3.0
flatbuffers==23.5.26
flax==0.7.2
fonttools==4.43.1
future==0.18.3
gast==0.5.4
gin-config==0.5.0
google-auth==2.23.2
google-auth-oauthlib==1.1.0
google-pasta==0.2.0
grpcio==1.59.0
gym==0.25.2
gym-notices==0.0.8
h5py==3.10.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.1.0
jax==0.4.13
jaxlib==0.4.13
keras==2.13.1
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.3
mdurl==0.1.2
ml-dtypes==0.2.0
msgpack==1.0.7
nest-asyncio==1.5.8
numpy==1.24.4
oauthlib==3.2.2
opencv-python==4.8.1.78
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.2.3
packaging==23.2
pandas==2.0.3
Pillow==10.0.1
protobuf==4.24.4
pyasn1==0.5.0
pyasn1-modules==0.3.0
pygame==2.5.2
pyglet==2.0.9
Pygments==2.16.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.6.0
rsa==4.9
scipy==1.10.1
six==1.16.0
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.1
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-probability==0.21.0
tensorstore==0.1.45
termcolor==2.3.0
tf-slim==1.1.0
toolz==0.12.0
tqdm==4.66.1
typing-extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
werkzeug==3.0.0
wrapt==1.15.0
zipp==3.17.0
